@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: "Yusei Magic", monospace;
	font-size: 14px;
	background-image: url(../img/textures.jpg);
}

header {
	background-image: url(../img/cabecera.jpg);
	background-size: cover;
	height: 250px;
	font-size: 60px;
	color: white;
	text-shadow: 3px 3px 3px #000;
	text-align: center;
}

h1 {
    display: inline;
}

div {
	display: inline;
	text-align: center;
}

.filas {
	display: block;
	margin-top: 70px;
}

.imagen {
	width: 120px;
	height: 120px;
	border: 9px outset #8B4513;
	margin: 0px 25px;
}

.imagen:hover {
	width: 300px;
	height: 300px;
	transform: rotate(360deg);
	transition: transform 2s, width 2s, height 2s;
	position: flex;
}

footer {
	margin-top: 100px;
	padding: 25px;
	color: white;
	background-color: black;
	text-align: right;
	text-shadow: 3px 3px 3px white;
}

.patricio {
	margin-top: -157px;
	clear: both;
	height: 170px;
	float: right;
}

footer a {
	text-decoration: none;
	float: left;
	color: white;
	font: bold;
	margin-top: 16px;
}

footer a:hover {
	color: yellow;
	text-shadow: 3px 3px 3px yellow;
}


/*Ejercicio 5 - Diseño Responsive
No he conseguido centrar las cajas..*/
@media screen and (max-width: 768px) {
	.imagen {
		display: flex;
	}

	footer {
		margin-top: 110px;
	}
}